* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG AND OTHERS*/

.bluntBorder {
    border-radius: 1rem;
}



.debug #plans .column {
    height: 300px;
    margin-bottom: 2rem;
}
/*CSS*/

html {
    font-family: sans-serif;
}

/*HEADER*/

#siteHeader {
    height: 80px;
    width: 100%;
    background-color: #0084fd;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

#siteHeader .container {
    height: 100%;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0 1rem;
    color: white;
}

.navBar .hamburger {
    font-size: 2rem;
}

.navBar nav {
    display: none;
}

.navBar nav ul {
    list-style: none;
}

.navBar nav li {
   display: inline-block;
   margin-left: 1rem;
}

.navBar nav li a {
    color: white;
    text-decoration: none;
}

.navBar nav li:last-child a {
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: white;
}
 

/*PLANNING*/

#planning {
    padding: 6rem 0 2rem;
}


#planning .card {
    background-color: #b5ddff;
    margin: 1rem;
    padding: 1rem 2rem;
    text-align: center;

}

#planning .card:first-child {

    padding: 1rem 2rem 0rem;
    text-align: left;

}

#planning .card .intro {
   
    padding: 0 0 3rem;
   
}

#planning .card img {
    display: block;
    padding: 1rem 0 0;
    width: 90%;
}

#planning .card h3 {
    color: #0084fd;
    padding: 1rem 0;
    font-size: 1.5rem;
    
}

#planning .card p {
    color: #556879;
    padding: 1rem 0 3rem;
    line-height: 2rem;
    font-weight: bold;
    
}

#planning .card a {
    color: white;
    padding: 1rem 3.5rem;
    font-weight: bold;
    text-decoration: none;
    background-color: #0084fd;
    letter-spacing: 0.08rem;
    border-radius: 2rem;
    
}

#planning .card .blueIcon {
    color: #0084fd;
    font-size: 5rem;
    padding: 2rem 0 0rem;
}


#plans {
    background-color:  #9792e4;
}

#plans .columns {
    margin: 0 1rem;
    padding: 2rem 0;
}

#plans .col2 {
    background-color: white;
}

/*TESTIMONIAL*/

#testimonials {
    text-align: center;
}

#testimonials .card {
    background-color: #9792e4;
    margin: 1rem;
}

#benefits {
    background-color: #9792e4;
    padding: 2rem 0rem;

}

#benefits .title {
    text-align: center;
}

#benefits .cards {
    margin: 1rem;
}

#benefits .card {
    background-color: white;
    margin: 1rem 0rem;
}

#about {
    margin: 0rem 1rem;
    padding: 2rem 0rem;
}

#getStarted {
    text-align: center;
    padding: 2rem 0rem;
    background-color: #9792e4;
}

footer {
    color: white;
    background-color: #313131;
    text-align: center;
    padding: 2rem 0rem;
}


/*RESPONSIVE*/

@media screen and (min-width: 768px) {
   
    .container {
        max-width: 738px;
    
    }

    #planning .cards {
        margin: 0.5rem;
   

    }


    #planning .card {
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;

    }

    #planning .card:first-child {
        width: calc(100% / 3 * 2 - 1rem);

    }

    #planning .cards {
        display: flex;
        flex-wrap: wrap;

    }

    #planning .card img {
        width: 70%;
    }

    #testimonials .card {
        display: flex;
    }
    
    #testimonials .tstmnlImg {
        width: 30%;
    }

    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem;
    }

    #benefits .card {
        margin: 0.5rem;
        width: calc(50% - 1rem);
    }

    #about {
        margin: 1rem;
    }

    #about .aboutUs {
        display: flex;
        justify-content: center;
    }
    
    #about .aboutUs .colLeft {
        width: 50%;
    }

    #about .aboutUs .colRight {
        width: 30%;
    }
    
}

@media screen and (min-width: 992px) {
   
    .container {
    max-width: 962px;
    
    }

    .navBar nav {
        display: block;
    }

    .navBar .hamburger {
        display: none;
    }

    #planning .card:first-child {
        display: flex;

    }

    #planning .intro {
        width: 50%;
      
    }

    #planning .card img {
        width: 50%;
        align-self: flex-end;
    }

    #plans .columns {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #plans .column {
        width: 40%;
    }
    
    #benefits .card {
        
        width: calc(100% / 3 - 1rem);
    }
}