* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*DEBUG*/


.debug .navBar div {
    background-color: #b5ddff;
}

.debug #functions .container .cards .card {
    height: 300px;
}

.debug #plans .column {
    height: 300px;
    margin-bottom: 2rem;
}
/*CSS*/

#siteHeader {
    height: 80px;
    width: 100%;
    background-color: #0084fd;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
}

#siteHeader .container {
    height: 100%;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.navBar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 1rem;
    color: white;
}

#functions {
    padding: 6rem 0 2rem;
}


#functions .card {
    background-color: #b5ddff;
    margin: 1rem;

}

#plans {
    background-color:  #9792e4;
}

#plans .columns {
    margin: 0 1rem;
    padding: 2rem 0;
}

#plans .col2 {
    background-color: white;
}

#testimonials {
    text-align: center;
}

#testimonials .card {
    background-color: #9792e4;
    margin: 1rem;
}

#benefits {
    background-color: #9792e4;
    padding: 2rem;

}

#benefits .title {
    text-align: center;
}

#benefits .cards {
    margin: 1rem;
}

#benefits .card {
    background-color: white;
    margin: 1rem 0rem;
}


/*RESPONSIVE*/

@media screen and (min-width: 768px) {
   
    .container {
        max-width: 738px;
    
    }

    #functions .cards {
        margin: 0.5rem;
   

    }


    #functions .card {
        width: calc(100% / 3 - 1rem);
        margin: 0.5rem;

    }

    #functions .card:first-child {
        width: calc(100% / 3 * 2 - 1rem);

    }



    #functions .cards {
        display: flex;
        flex-wrap: wrap;

    }

    #testimonials .card {
        display: flex;
    }
    
    #testimonials .tstmnlImg {
        width: 30%;
    }

    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0.5rem;
    }

    #benefits .card {
        margin: 0.5rem;
        width: calc(50% - 1rem);
    }
    
    
}

@media screen and (min-width: 992px) {
   
    .container {
    max-width: 962px;
    
    }

     #functions .card:first-child {
        display: flex;

    }

    #functions .intro , .fnctImg {
        width: 50%;

    }

    #plans .columns {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    #plans .column {
        width: 40%;
    }
    
    #benefits .card {
        
        width: calc(100% / 3 - 1rem);
    }
}